@charset "utf-8";
/* CSS Document */

.banner1
{background: url(../images/alessio-lin-ZhuKnd5VpV4-unsplash.jpg);
background-position: center;
background-size: cover;
height: 100vh;
color: aliceblue;}

.icons
{font-size: 36px;
color:aliceblue;}

img
{width: 100%;
}

.bio
{font-size: 17px;
margin: 50px;}

.icons2
{padding-top:50px;
background-color:darkgray;}

.mydesigns
{padding-top: 50px;}

/*a#pills-home-tab  {
   color: #111;
    background-color: transparent;
}*/
a#pills-home-tab:hover{
	 color: dimgray;
    background-color:azure;
}
a#pills-profile-tab:hover{
	 color: dimgray;
    background-color: azure;
}
a#pills-contact-tab:hover{
	 color: dimgray;
    background-color: azure;
}

.circle i
{width: 60px;
    height: 60px;
    text-align: center;
    background: #000;
    border-radius: 50px;
    color: #fff;
    padding-top: 20px;
    font-size: 20px;
	    margin-bottom: 15px;}
form
{margin-top:50px;}

.ct-form .btn-s
{
height:40px;
width: 200px;
border-radius: 50px !important;
background-color: transparent;
border-color: black;
border-width: 2px;
}

.ct-form .btn-s
{margin: auto;
margin-top: 50px;
display: block;
}

.contact
{margin-top:50px;}

.getintouch {
	-webkit-animation: getintouch 0.6s ease-in-out both ;
	        animation: getintouch 0.6s ease-in-out both;
}
@-webkit-keyframes getintouch {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes getintouch {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
height:50px;
	width: 50px;
	background-color:chocolate;
	color:black;
	border:none;
	border-radius: 50px;
	color:white;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}